// default btn
.btn{
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// add btn
.btn-add{
  cursor: pointer;
  z-index: 100;
  position: fixed;
  right: $size-screen-gutter + $size-header-logo;
  top: $size-header-logo * 2;

  &:hover .btn-add-contents{
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    width: 90%;
    height: 90%;
    background-color: $color-bg;
  }
}

@include screen-md{
  .btn{
    right: $size-screen-gutter*2;
    top: initial;
    bottom: $size-screen-gutter*2;

    .btn-add-contents{
      background-color: white;
      box-shadow: 0 6px 12px rgba(0,0,0,0.2);
      width: 100%;
      height: 100%;
    }
  }
}


.btn-add-contents{
  width: 80%;
  height: 80%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition-btn;
}

.add-line{
  transition: $transition-btn;
  width: 1.7rem;
  height: 1.5px;
  background-color: rgb(82, 82, 82);
}

.add-v{
  transform: rotate(90deg);
  position: absolute;
}

// link button
.btn-link{
  border-radius: 100%;
  margin-bottom: 2rem;
  background-color: black;
  transition: $transition-btn;
  cursor: pointer;
  z-index: 50;
  &:hover{
    box-shadow: 2px 5px 10px rgba(0,0,0,0.2);
  }
  img{
    width: 50%;
  }
}

// back button
.btn-back{
  width: $size-header-logo;
  height: $size-header-logo;
  position: fixed;
  top: $size-header-logo;
  left: $size-header-logo;
  img{
    width: 100%;
  }
}