// default btn
.btn{
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// add btn
.btn-add{
  cursor: pointer;
  z-index: 100;
  position: fixed;
  width: 4rem;
  height: 4rem;
  
  right: $size-screen-gutter + $size-header-logo;
  top: $size-header-logo * 2;

  &:hover .btn-add-contents{
    box-shadow: $shadow-btn;
    width: 90%;
    height: 90%;
    background-color: $color-bg;
  }
}

@include screen-md{
  .btn{
    right: $size-screen-gutter*2;
    top: initial;
    bottom: $size-screen-gutter*2;

    .btn-add-contents{
      background-color: white;
      box-shadow: $shadow-btn;
      width: 100%;
      height: 100%;
    }
  }
}


.btn-add-contents{
  width: 80%;
  height: 80%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition-btn;
}

.add-line{
  transition: $transition-btn;
  width: 1.7rem;
  height: 1.5px;
  background-color: $color-textgray;
}

.add-v{
  transform: rotate(90deg);
  position: absolute;
}

// link button
.btn-link{
  border-radius: 100%;
  margin-bottom: 2rem;
  background-color: black;
  transition: $transition-btn;
  cursor: pointer;
  z-index: 50;
  &:hover{
    box-shadow: $shadow-btn;
  }
  img{
    width: 50%;
  }
}

// back button
.btn-back{
  width: $size-header-logo;
  height: $size-header-logo;
  position: fixed;
  top: $size-header-logo;
  left: $size-header-logo;

  display: none;
  overflow: hidden;


  img{
    width: 100%;
    position: relative;
    animation-delay: .5s;
    animation-timing-function: $transition-default;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }

  .ic-back-w{
    display: none;
  }
}

.btn-back.show{
  display: block;
  img{
    left: 100%;
    animation-name: showBackBtn;
  }
}
.btn-back.hide{
  display: block;
  pointer-events: none;
  animation-name: noneBackBtn;
  animation-duration: 1s;
  animation-delay: .5s;

  img{
    animation-name: hideBackBtn;
  }
}

@keyframes showBackBtn {
  0%{
    left: 100%;
  }

  100%{
    left: 0;
  }
}

@keyframes hideBackBtn{
  0%{
    left: 0;
  }
  100%{
    left: -100%;
  }
}

@include screen-md{
  .btn-back{
    top: 0;
    left: 0;
    z-index: 100;

    img{
      position: absolute;
      width: 100%;
    }
    .ic-back-w{
      display: block;
      background-color: black;

    }
  }
}

// check button
.btn-check{
  width: $size-input-height;
  height: $size-input-height;
  background-color: $color-gray;
  border-radius: 100%;
  cursor: pointer;

  transition: $transition-btn;
  img{
    width: 100%;
  }
  &:hover{
    box-shadow: $shadow-btn;
  }
  @include screen-md{
    width: $size-input-height-mobile;
    height: $size-input-height-mobile;
  }
}

// add tag button
.btn-tag{
  width: $size-input-height;
  height: $size-input-height;
  background-color: $color-gray;
  cursor: pointer;
  border-radius: 50%;
  transition: $transition-btn;
  .add-line{
    width: 1rem;
  }
  &:hover{
    box-shadow: $shadow-btn;
  }
}
@include screen-md{
  .btn-tag{
    width: $size-input-height-mobile;
    height: $size-input-height-mobile;
    
  }
}