
// init
*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  // margin: 0;
  list-style: none;
}

img{
  vertical-align: top;
}

// color
body{
  background-color: $color-bg;
  font-family: $font-lato;
  font-weight: 400;
}

// container
.con-default{
  width: calc(100vw - #{$size-header-logo}*2 - 2.5rem);
  height: $size-header-logo;
  margin: 0 auto;
}

$size-screen-gutter: 1.2rem;
$size-con-body: calc(100vw - #{$size-header-logo}*2 - #{$size-screen-gutter}*2);
.con-body{
  width: $size-con-body;
  margin: 0 auto;
}

@include screen-md{
  $size-screen-gutter: 20px;
  $size-con-body: calc(100vw - #{$size-screen-gutter}*2);
  .con-body{
    width: $size-con-body;
  }
}

