.Greeting{
  padding: 3.75rem 0 1.25rem 0;
  .con-body{
    position: relative;
  }
  h3{
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p{
    font-family: $font-nanum;
    font-size: 1.5rem;
  }
  .btn{
    position: fixed;
    right: $size-screen-gutter + $size-header-logo;
    top: $size-header-logo * 2;
  }
  @include screen-md{
    .btn{
      right: $size-screen-gutter*2;
      top: initial;
      bottom: $size-screen-gutter*2;

      .btn-add-contetns{
        background-color: white;
        box-shadow: 0 6px 12px rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
      }

    }
    
  }
}