// header
header{
  border-bottom: 1px solid $color-dimgray;
  position: fixed;
  width: 100%;
  background-color: $color-bg;
  z-index: 100;

  .con-default{
    height: $size-header-logo;
  }
}

.size-header{
  padding-top: $size-header-logo;
}

.gnb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-mobile{
  display: none;
}

.logo-header{
  width: $size-header-logo;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  img{
    width: 100%;
  }
}

.user-info{
  display: flex;

  .user-team{
    text-transform: capitalize;
    font-size: 1.5rem;
    border-right: 2px solid black;
    padding-right: 0.6rem;
    margin-right: 0.6rem;
    font-style: italic;
  }

  .user-name{
    font-family: $font-nanum;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 2rem;
  }
}

nav ul{
  display: flex;
  a{
    font-size: 1.2rem;
    color: black;
    opacity: 0.5;
    transition: $transition-default;
    display: inline-block;
    padding: 1.25rem;
    text-transform: capitalize;
  }
  a:hover{
    opacity: 1;
  }
  a.active{
    opacity: 1;
  }
}

.nav-mobile{
  width: $size-header-logo;
  height: $size-header-logo;
  overflow: hidden;
  background-color: black;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transition: $transition-default;

  ul{
    flex-direction: column;
    padding: $size-header-logo;
  }

  a{
    color: white;
    font-size: 2rem;
  }
  a.active{
    opacity: 1;
  }
}

.nav-mobile-active{
  width: 100vw;
  height: 100vh;
}

@include screen-sm{
  header{
    border: none;
  }
  .menu-active.logo-header{

    &:after{
      height: 100%;
    }
    &::before{
      width: 100%;
    }
    

  }

  .logo-header{
    &:after, &::before{
      content: "";
      display: block;
      position: absolute;
      background-color: white;
      opacity: 1;
      transition: $transition-default;
    }

    &:after{
      top: 100%;
      transform: translateY(-50%);
      right: -1px;
      width: 1px;
      height: 0%;
    }
    
    &::before{
      bottom: -1px;
      left: 100%;
      transform: translateX(-50%);
      height: 1px;
      width: 0%;
    }
  }
  .nav-web{
    display: none;
  }
  .nav-mobile{
    display: block;
  }
}

