.Search{
  padding: 3.75rem 0 1.25rem 0;
}

.wrap-search{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-wrap-search{
  // width: 50%;
  border-bottom: 1px solid black;
  display: inline-block;
}

.wrap-search-text{
  display: flex;
  width: calc(100% - #{$size-btn-search});
}

@include screen-md{
  .container-wrap-search{
    width: 100%;
    position: relative;

    

    .btn-search{
      right: 0;
      top: 0;
    }
  }
}
.wrap-search{
  display: flex;
  align-items: center;

  .search-dropdown{
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    text-transform: capitalize;
    padding-right: 2rem;
    border-right: 1px solid black;

    option{
      text-transform: capitalize;
      color: black;
    }
  }
  .search-dropdown::-ms-expand {
    display: none;
  }

  .search-text{
    background-color: transparent;
    margin-left: 1rem;
    font-size: 16px;
    border: none;
    outline: none;
  }

}



.btn-search{
  cursor: pointer;
  width: $size-btn-search
}