.con-body.con-textbox{
  padding-bottom: 0;
}

.wrap-card.wrap-textbox{
  grid-template-columns: 1fr;
}

.Textbox{
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  padding: 2rem 0;
}