// color
$bg: #F8F8F8;

// border
$border-test-b: 1px solid black;
$border-test-r: 2px solid red;

// container

// size
$size-header-logo: 64px;

// font
$font-nanum: 'NanumSquare', sans-serif;
$font-lato: 'lato', sans-serif;

// transition
$transition-default: all .2s ease-in-out;